.bx--select-input, .bx--select, .bx--date-picker-container, .bx--date-picker-container>input, .bx--date-picker{
    width: 100% !important;
    max-width: 100% !important;
}


.bx--form-item{
    padding-top: 1rem;
}

.bx--text-area__wrapper{
    width: 100% !important;
}

.bx--date-picker-input__wrapper > input {
    max-width: none !important;
    width: 100% !important;
    padding-left: 3rem;
}
